<!DOCTYPE html>
<html>
<head>
    <title>ApiPos</title>
</head>
<body>
    <h2> @(ApiKarbordPos.Controllers.Unit.UnitPublic.titleVer)  @(ApiKarbordPos.Controllers.Unit.UnitPublic.verNumber)</h2>
    <h2> Ver Dll :   @(ApiKarbordPos.Controllers.Web_DataController.CallGetVer())</h2>
</body>
</html>



